html {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff'), format('woff');
}

body {
  width: 100%;
  font-family: Montserrat;
  font-size: 400;
  min-height: 100vh;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.1s ease;
}
html {
  scroll-behavior: smooth;
}
.main_unit-container {
  display: block;
}
/* .swiper-button-lock {
  display: block !important;
} */
:root {
  --btnColor: rgb(82, 82, 82);
  --btnBg: rgb(217, 217, 217);
  --cartboxShadou: 0px 0px 18.9px 0px rgba(0, 0, 0, 0.16);
}
button {
  border: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 0px 122px 0px 144px;
}

.header-content {
  width: 1184px;
  height: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-image {
  width: 69px;
  height: 83px;
}
.header-actions {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.cart {
  width: max-content;
  height: max-content;
  position: relative;
  cursor: pointer;
}
.cart-count {
  position: absolute;
  top: -6px;
  right: 2px;
  background: rgb(0, 117, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 6px;
  font-weight: 400;
  padding: 4px 6px;
  transform: translateX(50%);
}
.cart img {
  width: 24px;
  height: 20px;
  margin-top: 4px;
}

.basketModal {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 390px;
  min-height: 250px;
  height: max-content;
  background: rgb(248, 248, 248);
  /* border: 1px solid black; */
  padding: 20px 26px 35px 26px;
  box-shadow: var(--cartboxShadou);
  display: none;
  z-index: 2;
}
.clossBasket {
  border: 1px solid silver;
  border-radius: 15px;
  padding: 2px;
  width: 20px;
  height: 20px;
}

.basketModal-container {
  width: 100%;
  height: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
}
.basketModal-product-block-wrapp {
  padding-bottom: 49px;
  border-bottom: 1px solid rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.basketModal-product-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #cad4cf;
  border-radius: 11px;
  padding: 5px 5px 0px 0px;
}
.basketModal-img-container {
  display: flex;
  column-gap: 13px;
  align-items: center;
}
.basketModal-img-container img {
  width: 48px;
  height: 48px;
}
.basketModal-title-container {
  display: flex;
  flex-direction: column;
}
.basket__title_view {
  font-size: 13px;
}
.basketModal-delet-product {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.basketModal-total-amount {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 10px;
}
.basketModal-total-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 12%;
}
.basketModla-btn {
  padding: 10px 68px;
  border-radius: 27px;
  color: rgb(82, 82, 82);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 12%;
  background: rgb(217, 217, 217);
  cursor: pointer;
}

.header-mobil-logo {
  display: none;
}
.btn-Form-container {
  position: relative;
}
.mobil-burger {
  display: none;
}
.mobil-burger-modal {
  display: none;
}

.btn-FORM {
  padding: 9px 13px;
  background: var(--btnBg);
  color: var(--btnColor);
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
.brand-title {
  font-size: 50px; /* Размер шрифта 6 в HTML эквивалентен 24px в CSS */
  color: black; /* Цвет текста */
  font-family: 'Arial Black', Arial, sans-serif; /* Шрифт Arial Black */
  font-weight: bold; /* Жирный стиль */
}

.burger-menu {
  display: none; /* По умолчанию скрыто */
}

/* Стили для пунктов навигации в бургер-меню */
.burger-menu .burger-line {
  width: 25px;
  height: 1px;
  background-color: #000;
  margin: 2px 0;
}

.header-title {
  font-weight: bold;
  margin: 0;
}

.cart-icon {
  margin-right: 10px;
  /* Регулирует расстояние между иконкой корзины и кнопкой */
}

.leave-request-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* nav */
.navbar {
  position: fixed;
  overflow-x: hidden;
  background-color: #c0c0c0;
  text-align: center;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: fixed;
  top: 124px;
  left: 0;
  width: 100%;
  display: flex;
  color: #fff;
  z-index: 2;
}

.nav-item {
  text-decoration: none;
  color: #111;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  flex: 1;
  position: relative;
  z-index: 1;
  font-family: Arial Black;
}

.navbar_animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: rgb(223, 223, 223);
  border-radius: 50px;
  transition: 0.7s ease-in-out;
}

.product-description {
  text-align: left;
}

.product-description p {
  margin: 0;
  text-indent: 70px;
  /* Убираем внешний отступ у абзацев для более компактного размещения */
}

.services-section {
  background-color: #ffffff;
  padding: 60px;
  border-radius: 10px;
  top: 500px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.feature-section {
  width: 100%;
  text-align: center;
  padding: 55px 125px 55px 144px;
  background-color: #f8f8f800;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-item {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.feature-item-img {
  width: 95px;
  height: 55.07px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-title-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: start;
}
.feature-title-container h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: left;
}
.additional-info {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 12%;
  text-align: left;
  width: 85%;
}
.title {
  font-weight: bold;
  color: black;
}

.product-section {
  width: 100%;
  height: max-content;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 0px 100px 50px 100px;
}
.product-section2 {
  padding: 0px 100px 50px 100px;
}
.product-block {
  width: 284px;
  height: 343px;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  border-radius: 9px;
  padding: 23px;
  justify-content: space-between;
  align-items: center;
  background: rgb(248, 248, 248);
  box-shadow: var(--cartboxShadou);
}
.product-block-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
}
.product-block-img {
  width: 238px;
  height: max-content;
  border-radius: 9px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}
.product-btn {
  padding: 5px 68px;
  border-radius: 4px;
  background: rgb(217, 217, 217);
  font-size: 14px;
  font-weight: 600;
  color: rgb(82, 82, 82);
  cursor: pointer;
}

.title-product {
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  padding-left: 10px;
}

.colored-section {
  background-color: #f0f0f0;
  padding: 50px;
}
.nextslides-postion-container {
  position: relative;
}
.nextslides,
.nextslides1,
.nextslides2,
.nextslides3,
.nextslides4 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  border-radius: 3px;
  background: rgb(206, 206, 206);
}

.product-slider-container {
  overflow-x: hidden;
  width: 100%;
  height: max-content;
  position: relative;
  padding: 10px 10px;
}

.product-slider-wrapper {
  display: flex;
  /* Размещаем слайды в строку */
}

.product-slider {
  display: flex;
  width: fit-content;
  transition: transform 0.5s ease;
  column-gap: 35px;
}
.about-company-section {
  padding: 50px 121px 0px 121px;
  display: flex;
  flex-direction: column;
  row-gap: 47px;
}
.section-title {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: center;
}

.info-text {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 12%;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.reviews {
  width: 100%;
  height: max-content;
  margin: 73px auto 0px auto;
  display: flex;
  flex-direction: column;
  row-gap: 43px;
  align-items: center;
}
.slider-container-wrapp {
  position: relative;
}
.slider-container {
  width: 914px;
  height: 360px;
  overflow: hidden;
  background: noe;
  padding: 0px 18px 0px 10px;
}
.swiper_wrapper__reviews {
  align-items: center;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 3px;
  background: rgb(206, 206, 206);
}
.prev {
  left: -64px;
}
.next {
  right: -64px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: flex;
  column-gap: 31px;
}

.review {
  width: 284px;
  min-height: 343px;
  height: max-content;
  padding: 11px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: rgb(248, 248, 248);
  box-shadow: var(--cartboxShadou);
}
.review-avatar-container {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  align-items: center;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 733.5px;
}

.nickname {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 12%;
  text-align: center;
}

.rating {
  font-size: 24px;
  color: gold;
  margin-bottom: 5px;
}
.text-container {
  width: 100%;
  min-height: 150px;
  max-height: max-content;
  position: relative;
}

.text-more-btn {
  position: absolute;
  bottom: -20px;
  right: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(0, 117, 255);
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 12%;
  text-align: center;
  overflow-y: hidden;
  transition: height 2s;
}

.text {
  height: 150px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 1px;
  text-align: center;
  overflow-y: hidden;
}
.text::-webkit-scrollbar {
  width: 2px;
}
.text::-webkit-scrollbar-track {
  background-color: #d1131300; /* цвет фона трека скроллбара */
}
.text::-webkit-scrollbar-thumb {
  background-color: #888; /* цвет бегунка скроллбара */
  border-radius: 6px; /* закругление углов бегунка скроллбара */
}
.section-documents {
  width: 817px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin: 72px auto 148px;
  align-items: center;
}
.title-document {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: left;
}
.documnets-container {
  display: flex;
  column-gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.column a {
  display: flex;
  column-gap: 12px;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 12%;
  text-align: left;
  text-decoration: none;
}

.column img {
  width: 14px;
  height: 18px;
}

.footer {
  width: 100%;
  height: 118px;
  margin: 0px auto 0px;
  display: flex;
  justify-content: center;
  background: rgb(217, 217, 217);
}
.footer-container {
  width: 920px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.social-icons {
  display: flex;
  column-gap: 21px;
}
.social-icons img {
  width: 26px;
  height: 26px;
}
.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.read-more-content {
  overflow: hidden;
  max-height: 100px;
  /* Максимальная высота текста до "Читать полностью" */
  transition: max-height 0.5s ease-out;
}

.read-more-trigger {
  cursor: pointer;
  display: block;
  padding: 5px;
  color: blue;
}

.read-more-trigger.expanded {
  display: none;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
  /* Положим окно поверх мутного фона */
  backdrop-filter: blur(10px);
  padding: 0px 45px;
}

.modal-content {
  width: 100%;
  min-height: 260px;
  /* height: 100%; */
  background-color: rgba(182, 182, 182, 0.5);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  padding: 20px 0px;
}

.modal-content p {
  color: rgb(61, 61, 61);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: center;
}

.form-input {
  margin-bottom: 10px;
}
.button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  row-gap: 20px;
  justify-content: center;
}

.primary-button,
.secondary-button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 12%;
  padding: 5px 34px;
  text-align: center;
  background: #000000;
  border-radius: 4px;
}

.info-age {
  max-width: 86%;
  color: rgb(61, 61, 61);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: center;
}

.form-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 99999;
  /* Положим окно поверх мутного фона */
  backdrop-filter: blur(10px);
}

.form-container {
  /* max-width: 300px; */
  border-radius: 40px;
  font-size: 24px;
  background: rgba(248, 248, 248, 0.7);
  /* background: red; */
  padding: 32px 85px;
  z-index: 2;
  position: relative;
  border: 1px solid rgb(188 193 190);
  backdrop-filter: blur(27px);
}
.close {
  cursor: pointer;
  color: #000000;
  width: 18px;
  height: 18px;
}
.form-popup-crose-btn {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #000;
}
.form-content {
  width: 384px;
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  justify-content: center;
  align-items: center;
}
.form-content .form-popup-input {
  width: 373px;
  height: 46px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 11px;
  color: var(--btnColor);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 12%;
  text-align: center;
}
.form-content .form-popup-massage {
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 12%;
  text-align: left;
}

.button-Form {
  width: 279px;
  height: 46px;
  border-radius: 11px;
  background: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 12%;
  border: none;
  outline: none;
}
.button-Form:hover {
  opacity: 0.8;
}

#prev-btn,
#next-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

#prev-btn:hover,
#next-btn:hover {
  color: #4caf50;
}

.cart-container {
  display: none;
  /* Начинаем с скрытой корзины */
  position: fixed;
  /* Вы можете настроить положение корзины */
  top: 10%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  /* Ваши стили для контейнера с картинкой */
  position: relative;
}

.slider-container-img {
  width: 100%;
  height: max-content;
  position: relative;
  overflow: hidden;
  margin-top: 163px;
}
.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
}
.imagenavigation {
  width: 100%;
  height: max-content;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.prev-btn:hover,
.next-btn:hover {
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  background: rgba(217, 217, 217, 0.58);
}
.prev-btn {
  left: 20px;
}
.next-btn {
  right: 20px;
}

.nextrewievBtn {
  cursor: pointer;
  color: #ffffff;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2;
  width: 32px;
  position: relative;
  top: -140px;
}
.prevrewievBtn {
  cursor: pointer;
  color: #ffffff;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2;
  width: 32px;
  position: relative;
  top: -140px;
  margin-right: 30%;
}

.review-slide {
  transition: transform 0.5s ease-in-out;
}

.read-more-content {
  overflow: hidden;
  max-height: 100px;
  /* Максимальная высота текста до "Читать полностью" */
  transition: max-height 0.5s ease-out;
}

.read-more-trigger {
  cursor: pointer;
  display: block;
  padding: 5px;
  color: blue;
}

.read-more-trigger.expanded {
  display: none;
}
.swiper__silder_wrapp {
  width: 100%;
  height: max-content;
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
  /* border: 1px solid silver; */
  /* padding: 20px; */
}
/* Настройка  слайдера */
.swiper-slide {
  width: 284px;
  height: 289px !important;
  display: flex !important;
  flex-direction: column;
  row-gap: 39px;
  border-radius: 9px;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  background: rgb(248, 248, 248);
  box-shadow: var(--cartboxShadou);
  margin: 5px 0px 5px 2px;
  /* border: 1px solid red; */
}
.swiper2,
.swiper3,
.swiper3,
.swiper4 {
  overflow: hidden;
}

.product-block-img {
  width: 180px;
  height: 154px;
  height: max-content;
  border-radius: 9px;
}
.product-block-img-container {
  row-gap: 3px;
}
.product-btn {
  padding: 3px 31px;
}

.product__main_wrapp {
  display: none;
  flex-direction: column;
}
.product__main_heder_fon {
  width: 100%;
  height: 177px;
  background: red;
}
.productMobal_add_price-container {
  display: none;
}
.product__main {
  width: 100%;
  height: 100vh;
  display: flex;
  column-gap: 58px;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.product__img_container {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.product__img {
  width: 490px;
  height: 397px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
.product__img_menu-container {
  display: flex;
}
.product__img_manu {
  width: 103px;
  height: 89px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: block;
}
.product__info_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}
.product__view-quantity_container {
  display: flex;
  column-gap: 41px;
}
.product__title_container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.product__title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 12%;
}
.product__options {
  width: 140px;
  height: 23px;
  color: rgb(79, 79, 79);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 12%;
  text-align: left;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
}
.product_input {
  border: none;
}
.product__description_container {
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 12%;
}
.product__description_container span {
  color: rgb(33, 32, 32);
  font-weight: 700;
}
.product__description_container p {
  padding: 10px 0px;
}
.product__price_container {
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 12%;
}
.product__add-basket_btn {
  width: 199px;
  height: 32px;
  border-radius: 4px;
  background: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 12%;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0px 0px 0px 0px;
  }
  .header-content {
    justify-content: space-around;
  }
  .nav-item {
    font-size: 14px;
  }
  .feature-section {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
  }
  .feature-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .feature-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  .feature-item-img {
    width: 44px;
  }
  .feature-item-img img {
    width: 44px;
    height: 38px;
  }
  .feature-title-container h3 {
    font-size: 16px;
  }
  .additional-info {
    font-size: 12px;
  }
  .product-section {
    row-gap: 0px;
    padding: 0px 67px 50px 4px;
  }
  .product-section2 {
    padding: 0px 67px 50px 4px;
  }

  /* swiper setting */

  .swiper-slide {
    width: 284px;
    height: 289px !important;
    display: flex !important;
  }
  .product-block-img {
    width: 100px;
    height: 86px;
  }
  .product-btn {
    padding: 3px 12px;
  }
  .product-btn {
    padding: 3px 12px;

    font-size: 10px;
  }
  .title-product {
    font-size: 20px;
  }
  .product-title {
    font-size: 13px;
  }
  .about-company-section {
    display: flex;
    padding: 0px 50px 0px 50px;
    row-gap: 20px;
  }
  .slider-container {
    width: 635px;
    height: 309px;
  }
  .swiper_slide_review {
    height: 293px !important;
    display: flex !important;
    padding: 0px;
  }
  .reviews {
    display: flex;
    margin-top: 50px;
    row-gap: 29px;
  }
  .review {
    width: 100%;
    height: 100%;
    min-height: 201px;
    padding: 20px 10px 0px 10px;
    row-gap: 20px;
    justify-content: start;
  }
  .text-container {
    min-height: 80px;
  }
  .text {
    height: 148px;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    overflow-y: inherit;
    overflow-x: auto;
  }
  .text-more-btn {
    bottom: -19px;
  }
  .section-title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  .prev,
  .next {
    width: 26px;
    height: 26px;
    font-size: 17px;
  }
  .next {
    right: -43px;
  }
  .prev {
    left: -43px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
  .nickname {
    font-size: 13px;
    font-weight: 600;
    line-height: 10px;
  }
  .rating {
    font-size: 19px;
  }
  .section-documents {
    display: flex;
    width: 100%;
    padding: 0px 10px;
    row-gap: 25px;
    margin-top: 26px;
  }
  .title-document {
    font-size: 16px;
  }
  .column {
    row-gap: 15px;
  }
  .column a {
    font-size: 10px;
  }

  .footer {
    display: flex;
    height: 60px;
    margin-top: 45px;
  }
  .footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer-contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
  .footer-contact-info h3 {
    font-size: 10px;
    line-height: 12px;
  }
  .social-icons img {
    width: 12px;
    height: 13px;
  }
  .TITANLOGOAPP {
    width: 22px;
    height: 31px;
  }
  .product__main_heder_fon {
    height: 118px;
  }
}

@media screen and (max-width: 780px) {
  header {
    height: max-content;
  }
  .header-content {
    justify-content: space-around;
    /* background: red; */
  }
  .header-image {
    display: none;
  }
  .header-mobil-container {
    display: flex;
    column-gap: 13px;
    align-items: center;
  }
  .header-mobil-logo {
    width: 25px;
    height: 31px;
    display: block;
  }
  .brand-title {
    font-size: 20px;
  }
  .btn-FORM {
    display: block;
  }
  .navbar {
    top: 83px;
  }
  .nav-item {
    font-size: 11px;
  }
  .slider-container-img {
    margin-top: 115px;
  }
  .feature-container {
    width: 100%;
    justify-content: space-evenly;
  }
  .feature-item-img img {
    width: 31px;
    height: 22px;
  }
  .feature-title-container {
    row-gap: 0px;
  }
  .feature-title-container h3 {
    width: max-content;
    font-size: 12px;
  }
  .additional-info {
    font-size: 10px;
  }
  .product-section {
    display: flex;
    padding: 20px 121px 20px 36px;
    row-gap: 16px;
  }
  .title-product {
    font-size: 21px;
    padding-left: 0px;
  }
  .product-block {
    width: 148px;
    height: 110px;
    padding: 12px;
    row-gap: 23px;
  }
  .product-block-img {
    width: 125px;
    height: 106px;
  }
  .product-title {
    font-size: 12px;
  }
  .product-btn {
    padding: 3px 36px;
  }
  .product-slider-container {
    height: 220px;
  }

  .product-slider {
    column-gap: 18px;
  }
  .about-company-section {
    display: flex;
  }
  .slider-container {
    background: rgba(245, 222, 179, 0);
  }
  .swiper_slide_review {
    width: 100%;
    height: 355px !important;
    /* background: red; */
    padding: 0px;
  }
  .reviews {
    display: flex;
  }
  .review {
    width: 100%;
    height: 100%;
    padding: 10px 0px 0px 0px;
    row-gap: 12px;
    justify-content: start;
  }
  rating {
    font-size: 19px;
  }
  .avatar {
    width: 65px;
    height: 65px;
  }
  .prev,
  .next {
    width: 23px;
    height: 25px;
    font-size: 16px;
  }
  .next {
    right: -38px;
  }
  .prev {
    left: -38px;
  }
  .slider-container {
    width: 450px;
  }
  .text {
    height: 211px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0px;
    padding: 0px 11px;
    overflow-y: inherit;
    overflow: auto;
  }
  .nickname {
    font-size: 15px;
  }
  .slide {
    column-gap: 9px;
  }
  .section-documents {
    display: flex;
  }
  .footer {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: max-content;
  }
  .brand-title {
    align-self: self-end;
  }
  .btn-FORM {
    display: none;
  }
  .header-content {
    justify-content: space-between;
    padding: 0px 14px;
    height: 64px;
  }

  .cart {
    transform: translateX(50%);
  }
  .cart-count {
    top: 2px;
    right: 1px;
    font-size: 5px;
    padding: 1px 2px;
  }
  .cart img {
    width: 12px;
    height: 11px;
    background: none;
  }
  .mobil-burger {
    display: block;
  }
  .mobil-burger-modal {
    width: 266px;
    height: 355px;
    display: none;
    position: absolute;
    top: 21px;
    right: -13px;
    background: rgb(255, 255, 255);
    box-shadow: var(--cartboxShadou);
  }
  .mobil-burger-modal-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 0px 10px;
  }
  .mobil-burger-modal-cross {
    position: absolute;
    top: 16px;
    left: 14px;
    width: 12px;
    height: 12px;
  }
  .burger-modal-nav {
    padding: 53px 0px 15px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);
  }
  .burger-modal-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 12%;
    align-items: center;
  }
  .burger-modal-btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger-modal-btn {
    color: rgb(82, 82, 82);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 12%;
    text-align: left;
    border-radius: 10px;
    background: rgb(217, 217, 217);
    padding: 10px 13px;
  }
  .basketModal-product-block-wrapp {
    padding-bottom: 11px;
    row-gap: 4px;
  }
  .basketModal {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 350px;
  }
  .basketModal h3 {
    font-size: 12px;
  }
  .basketModal p {
    font-size: 10px;
  }
  .basketModal-delet-product {
    width: 12px;
    height: 12px;
  }
  .basketModal-total-container {
    font-size: 13px;
  }
  .basketModla-btn {
    width: max-content;
    margin: auto;
    padding: 7px 37px;
  }
  .burger-modal-ul a {
    text-decoration: none;
    color: black;
  }
  .form-container {
    padding: 32px 0px;
    font-size: 16px;
    border-radius: 11px;
  }
  .form-popup-crose-img {
    width: 12px;
    height: 12px;
  }
  .form-content {
    width: 317px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: center;
    align-items: center;
  }
  .form-content .form-popup-input {
    width: 272px;
    height: 30px;
    font-size: 13px;
  }
  .form-content .form-popup-massage {
    padding: 0px 50px;
  }
  .button-Form {
    width: 204px;
    height: 30px;
    font-size: 13px;
  }
  .nav-item {
    display: none;
  }
  .slider-container-img {
    margin-top: 64px;
    height: max-content;
  }
  .slider {
    height: max-content;
  }
  .imagenavigation {
    height: 100%;
  }
  .prev-btn,
  .next-btn {
    width: 9px;
    height: 10px;
    font-size: 6px;
  }
  .feature-section {
    padding: 0px 0px 0px 20px;
    height: 53px;
  }
  .feature-container {
    width: 100%;
    justify-content: start;
    column-gap: 12px;
  }
  .feature-item {
    column-gap: 7px;
  }
  .feature-item-img {
    width: 31px;
  }
  .feature-item-img img {
    width: 23px;
    height: 22px;
  }
  .feature-title-container {
    row-gap: 0px;
  }
  .feature-title-container h3 {
    width: max-content;
    font-size: 7px;
    line-height: initial;
  }
  .additional-info {
    width: max-content;
    font-size: 4px;
    line-height: inherit;
  }
  .product-section {
    display: flex;
    padding: 16px 42px 0px 10px;
    row-gap: 16px;
  }
  .title-product {
    font-size: 21px;
    padding-left: 10px;
  }
  .product-block {
    width: 148px;
    height: 179px;
    padding: 12px;
    row-gap: 8px;
    background: none;
  }
  .product-block-img-container {
    row-gap: 15px;
  }
  .product-btn {
    padding: 2px 28px;
    font-size: 12px;
  }
  .product-title {
    font-size: 12px;
  }

  .product-slider-container {
    height: 220px;
  }

  .product-slider {
    column-gap: 18px;
  }
  .swiper-slide {
    width: 164.5px;
    height: 179px !important;
    row-gap: 19px;
    padding: 11px;
    box-shadow: inherit;
    margin: inherit;
    border: 1px solid rgba(192, 192, 192, 0.167);
    font-size: 10px;
  }
  .product-block-img {
    width: 103px;
    height: 90px;
  }
  /* .nextslides,
  .nextslides1,
  .nextslides2,
  .nextslides3,
  .nextslides4 {
    right: -24px;
  } */
  .nextslides,
  .nextslides2,
  .nextslides3,
  .nextslides4 {
    width: 19px;
    height: 19px;
    font-size: 10px;
    right: -24px;
  }
  .about-company-section {
    display: flex;
    padding: 16px 10px 0px 10px;
    /* row-gap: 20px; */
  }
  .section-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }
  .info-text {
    font-size: 10px;
    line-height: 12px;
  }
  .reviews {
    display: flex;
    row-gap: 17px;
    margin-top: 32px;
  }
  .slider-container {
    width: 187px;
    height: 227px;
    margin: auto;
    /* border: 1px solid blue; */
    padding: 3px;
    background: inherit;
  }
  .swiper_slide_review {
    height: 100% !important;
    padding: 0px;
    border: 1px solid rgba(192, 192, 192, 0.185);
  }
  .prev {
    display: none;
  }
  .next {
    width: 19px;
    height: 19px;
    font-size: 10px;
    right: -73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-bottom: 2px;
    row-gap: 12px;
  }
  .review {
    width: 100%;
    height: 227px;
    padding: 0px 0px 0px;
    background: rgb(248, 248, 248);
    justify-content: start;
    padding-top: 14px;
    box-shadow: inherit;
  }
  .review-avatar-container {
    row-gap: 3px;
  }
  .avatar {
    width: 31px;
    height: 31px;
  }
  .rating {
    font-size: 9px;
  }

  .nickname {
    font-size: 5px;
    font-weight: 600;
    line-height: 0px;
  }
  /* .slider-container {
    width: 310px;
  } */
  .text {
    padding: 0px 10px;
    font-size: 7px;
    line-height: 11px;
    height: 138px;
    overflow-y: inherit;
    overflow-y: auto;
  }
  .text-more-btn {
    font-size: 5px;
    font-weight: 500;
    line-height: 0px;
    bottom: -8px;
  }
  .slide {
    column-gap: 9px;
  }
  .section-documents {
    display: flex;
    padding: 0px 30px;
    margin: 24px auto 33px auto;
  }
  .title-document {
    font-size: 10px;
  }
  .column a {
    font-size: 6px;
    column-gap: 4px;
    align-items: center;
  }
  .column img {
    width: 10px;
    height: 13px;
  }
  .documnets-container {
    column-gap: 45px;
  }
  .footer {
    display: flex;
  }
  .modal {
    padding: 0px 5px;
  }
  .modal-content p {
    width: 85%;
    font-size: 18px;
  }
  .button-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  .info-age {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .product-section {
    display: flex;
    padding: 0px 31px 0px 10px;
    row-gap: 8px;
    margin-top: 8px;
  }
  .title-product {
    font-size: 21px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 12%;
    text-align: left;
  }
  .product-block {
    width: 148px;
    height: 179px;
    padding: 12px;
    row-gap: 8px;
    background: none;
    box-shadow: 0px 0px 5.9px 0px rgba(0, 0, 0, 0.1);
  }

  .product-title {
    font-size: 10px;
  }

  .product-slider-container {
    height: 185px;
    padding: 3px 3px;
  }

  .product-slider {
    column-gap: 8px;
  }

  .modal {
    padding: 0px 5px;
  }
  .modal-content p {
    width: 85%;
    font-size: 18px;
  }
  .button-container {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  .info-age {
    font-size: 13px;
  }
  .about-company-section {
    display: flex;
  }
}

/* index2_style */

@media screen and (max-width: 1220px) {
  .product__main {
    column-gap: 10px;
    align-items: start;
  }
  .product__img {
    width: 330px;
    height: 330px;
  }
  .product__img_manu {
    width: 60px;
    height: 60px;
  }
  .product__price_container {
    font-size: 20px;
  }
  .product__add-basket_btn {
    width: 163px;
    height: 27px;
    font-size: 12px;
  }
  .product__info_container {
    row-gap: 6px;
  }
}

@media screen and (max-width: 1440px) {
  .product__main {
    width: 100%;
    height: 69vh;
    display: flex;
    column-gap: 58px;
    justify-content: center;
    align-items: center;
  }
  .product__img {
    width: 260px;
    height: 243px;
  }
  .product__img_manu {
    width: 60px;
    height: 60px;
  }
  .product__info_container {
    row-gap: 6px;
  }
  .product__title_contianer h1 {
    font-size: 20px;
  }

  .product__options {
    width: 112px;
    height: 19px;
    font-size: 13px;
  }
  .product__price_container {
    font-size: 20px;
  }
  .product__add-basket_btn {
    width: 144px;
    height: 26px;
    font-size: 12px;
    cursor: pointer;
  }
  .footer {
    height: 73px;
  }
  .footer-contact-info {
    font-size: 12px;
    row-gap: 4px;
  }
  .social-icons img {
    width: 19px;
    height: 19px;
  }
  .TITANLOGOAPP {
    width: 45px;
    height: 60px;
  }
}
/* @media screen and (max-width: 1440px) and (max-height: 984px) {
  .product__main {
    width: 100%;
    height: 565px;
  }
} */

@media screen and (max-width: 780px) {
  .productMobal_add_price-container {
    display: block;
  }
  .product__price_contianer {
    display: none;
  }
  .cart img {
    width: 20px;
    height: 16px;
  }

  .product__main {
    column-gap: 19px;
    align-items: start;
  }

  .product__img_container {
    row-gap: 2px;
  }
  .product__img {
    width: 160px;
    height: 160px;
  }
  .product__img_manu {
    width: 30px;
    height: 30px;
  }
  .product__info_container {
    row-gap: 0px;
  }
  .product__title_contianer h1 {
    font-size: 13px;
  }
  .product__view-quantity_container {
    column-gap: 21px;
    padding-bottom: 10px;
  }
  .product__title {
    font-size: 9px;
  }
  .product__options {
    width: 62px;
    height: 12px;
    font-size: 7px;
  }
  .product__description_container {
    font-size: 6px;

    line-height: 10px;
  }
  .product__description_container p {
    padding: 4px 0px;
  }
  .product__price_container {
    font-size: 13px;
  }
  .product__add-basket_btn {
    width: 116px;
    height: 20px;
    font-size: 9px;
  }
  .footer-contact-info h3 {
    font-size: 10px;
  }
  .social-icons img {
    width: 19px;
    height: 19px;
  }
  .footer {
    margin-top: 0px;
  }
  .TITANLOGOAPP {
    width: 30px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .product__main_heder_fon {
    height: 63px;
  }
  .productMobal_add_price-container {
    display: none;
  }

  .product__main {
    flex-direction: column;
    column-gap: 0px;
    align-items: center;
    row-gap: 10px;
    padding: 32px 10px;
    height: 100%;
  }
  .product__img_container {
    row-gap: 11px;
  }
  .product__img_container {
    width: 100%;
  }
  .product__img_menu-container {
    display: flex;
    column-gap: 10px;
  }
  .product__img {
    width: 100%;
    height: 247px;
  }
  .product__img_manu {
    width: 60px;
    height: 56px;
  }
  .product__info_container {
    width: 100%;
  }
  .product__title {
    font-size: 11px;
  }
  .product__options {
    width: 88px;
    height: 21px;
    font-size: 10px;
  }
  .product__description_container {
    font-size: 8px;
    line-height: 12px;
  }
  .product__price_contianer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .product__price_container {
    font-size: 16px;
  }
  .product__add-basket_btn {
    width: 189px;
    height: 37px;
    font-size: 13px;
  }
}
